@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-l>.nav-link{
    color: white !important;
}
.header-main {
    position: relative;
    background: rgba(0, 0, 0, 0.133);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.762) 0%, rgba(85, 85, 85, 0.596) 78%, rgba(255,255,255,1) 100%);
}
  
  .header {
    position: relative;
  }
  
  .background-image {
    background-image: url("/Images/main-pic.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }
/* .dropdown-menu{
    background-color: transparent !important;
    border: none !important;
}

.dropdown-item{
    color: white !important;
} */