@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-l>.nav-link{
    color: white !important;
}


.header{
    background-image: url("/Users/shanmugaraj/Documents/shanmugaraj/projects/react/pacedream/public/Images/main-pic.jpg");
    background-size: cover;
    background-position: center;
}
/* .dropdown-menu{
    background-color: transparent !important;
    border: none !important;
}

.dropdown-item{
    color: white !important;
} */